.App {
  padding: 30px;
  display: flex;
}

.App > div {
  margin-right: 50px;
}

.isDone {
  text-decoration: line-through;
  color: sandybrown;
}

.active {
  background-color: aqua;
  font-weight: 700;
}

.error {
  border: 2px solid red;
  outline: none;
}

.error-message {
  color: red;
}
